.img {
  width: 100%;
}

.section-3 {
  display: flex;
  /* height: 100vh; */
}

.section-3 img {
  height: 29vw;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  /* margin: 3vw 0; */
  row-gap: 1rem;
}

.card p {
  /* margin: 30px auto; */
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
}
button {
  margin: 30px auto;
  display: inline-block;
  box-sizing: border-box;
  /* border: 3px solid #000; */
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  color: #202020;
  margin: 0;
  padding: 15px 44px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  /* border-radius: 0; */
  outline: none;
  cursor: pointer;
}
button:hover {
  font-weight: bold;
}
.button-1 {
  text-align: center;
}

@media screen and (max-width: 769px) {
  button {
    font-size: 12px;
    border: 2px solid #000;
    padding: 12px 40px;
  }
}

@media screen and (max-width: 569px) {
  p {
    font-size: 1.2rem;
  }
}
