.loader {
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid rgb(48, 99, 48); /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 0.7s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
