* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

p {
  text-align: justify;
}
.title {
  margin: 25px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 3vw;
  padding-top: 12px;
}

.card-1 img {
  width: 22rem;
}

.card-1 {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
}

.card-2 {
  display: flex;
  column-gap: 100px;
  margin: 100px;
}

.details {
  display: flex;
  /* text-align: left; */
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.card-1 :nth-of-type(odd) {
  flex-direction: row-reverse;
}

.bold {
  font-weight: bold;
  font-size: 1.2em;
}
.card-1 :nth-of-type(odd) .details {
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

@media screen and (max-width: 1100px) {
  .details {
    justify-content: start;
  }
  .card-1 img {
    width: 15rem;
  }
  .card-2 {
    margin: 80px auto;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 3rem;
    text-align: center;
    align-self: center;
  }
  .card-1 img {
    width: 35vw;
  }
  .card-2 {
    display: flex;
    column-gap: 9vw;
  }
}

@media screen and (max-width: 760px) {
  .title {
    font-size: 3vh;
  }
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 13px;
  }
  .card-1 {
    display: block;
    margin: 40px auto;
    flex-direction: column;
  }
}

@media screen and (max-width: 630px) {
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 13px;
  }
  .card-2 {
    /* display: flex; */
    display: block;
    /* flex-direction: column; */
    margin: 40px auto;
    flex-direction: column;
    text-align: center;
  }
}
