/* .navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  row-gap: 30px;
  background: whitesmoke;
  position: sticky;
  overflow: hidden;
  top: 0;
} */

.links {
  text-decoration: none;
  cursor: pointer;
}
.links:hover {
  font-weight: bold !important;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  color: rgb(48, 99, 48) !important;
}
.hamburger {
  display: none;
}
.navbar .link-div {
  display: flex;
  gap: 4vw;
}

.cart-icon {
  font-size: 24px;
  position: absolute;
  right: 50px;
}

@media screen and (max-width: 560px) {
  .link-div {
    display: none !important;
    font-size: 100px;
  }
  .cart-icon {
    right: 20px;
  }
  .hamburger {
    display: block;
    width: fit-content;
    position: absolute;
    left: 5vw;
    top: 20px;
  }
  .hamburger div {
    width: 27px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
  }
}
h2 {
  color: rgb(48, 99, 48);
}
/* .navbar .name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 4rem;
  font-size: 25px;
  font-weight: bold;
  color: rgb(48, 99, 48);
}


.links:hover {
  font-weight: bold;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
} */

.nav-link:hover {
  font-weight: bold !important;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  color: rgb(48, 99, 48) !important;
}

.navbar-brand {
  color: rgb(48, 99, 48) !important;
}

.nav-link {
  color: rgb(48, 99, 48) !important;
}
