.img-1 {
  width: 20rem;
}

.description {
  text-align: justify !important;
}
@media screen and (max-width: 1100px) {
  .heading {
    font-size: 1.7rem !important;
  }

  .description {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 900px) {
  .img-1 {
    width: 15rem;
  }

  .description {
    font-size: 15px !important;
  }
  .details {
    margin: 0px !important;
    padding: 0px !important;
  }
}
